@import "bootstrap/dist/css/bootstrap.min.css";
@import "./meanmenu.css";
@import "./iconsax.css";
@import "@tabler/icons-webfont/dist/tabler-icons.min.css";
@import "flatpickr/dist/flatpickr.min.css";

/* Highest priority */
@import "./style.css";

section.hero-sec-eight::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 35%);
}

.flatpickr-day.selected {
    background: #cf3425 !important;
    border-color: #cf3425 !important;
}

.theiaStickySidebar.fixed {
    position: sticky;
    top: 75px;
    height: 100vh;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

html {
    scroll-padding-top: 80px;
}
